{% extends 'base.html.twig' %}

{% block title %}Hello Home{% endblock %}
  {% block javascripts %}
     <script src="{{ asset('assets/js/carrousel.js') }}"></script>
  {% endblock %}
{% block bodyClass %}lp-home-body
{% endblock %}

{% block body %}
    <div class="lp-home">
        
        <div class="lp-welcome">
            <img src="{{ asset('assets/uploads/carnet.png') }}" alt="">
            <em>
                Il n'y a pas de meilleur endroit qu'un bon livre pour s'évader tout en restant où l'on est.<br>
                Voilà ma vision de la littérature.<br>
                <br>
                Bienvenue dans mon univers, adultes et jeunesse.<br>
                Prenez une pause détente pour visiter ce site.<br>
            </em>
        </div>

        {% include '_includes/_booksHome.html.twig' %}
    </div>
    {% for message in  app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <section class="promoteHome container">
    {% include '_includes/_homePromote.html.twig' %}
    </section> <div class="carousel-item">
    1
</div>
    {% include '_includes/_homePictures.html.twig' %}
    <div class="separatedHome">
        <section class="articleHome">
        {% include '_includes/_homeArtcile.html.twig' %}
    </section>



</div>



{% include '_includes/_homeBoutique.html.twig' %}

{% endblock %}
{% block javascriptsEnd %}
    <script src="{{ asset("assets/script.js") }}"></script>
{% endblock %}