<div class="slider my-5">
    <div class="slide-track">

            {% for i in 1..14 %}
            <div class="slide">

            <img src="{{ asset('assets/uploads/carrousel/' ~ i ~ '.jpg') }}" alt="">
            </div>
            {% endfor %}

        </div>
</div>
