<div id="rgpdModal">
  <div class="modal-content">
    <h2>Politique de Cookies</h2>
    <p>Veuillez lire et accepter notre <a href="{{ path('mentions_legales') }}">politique de confidentialité.</a></p>
    <button id="acceptButton" class="lp-btn">Accepter</button>
    <button id="rejectButton" class="lp-btn">Rejeter</button>
  </div>
</div>