{{ form_start(form, {'action': path('search'), 'method': 'GET', 'class': 'd-flex', 'role': 'search'}) }}
    {{ form_widget(form.q, {'attr': {'class': 'form-control me-2', 'placeholder': 'Search', 'aria-label': 'Search'}}) }}
<button class="material-icons lp-form-search-icon" type="submit">search</button>
{{ form_end(form) }}