<footer>
    <ul>
        <li>accueil</li>
        <li>Biographie</li>
        <li>Contact</li>
        <li>Mentions légales</li>

    </ul>
    <ul>
        <li><a href="mailto:lyvia.palay@gmail.com">lyvia.palay@gmail.com</a></li>
        <li><a href="https://www.instagram.com/lyvia_palay/?hl=fr" target="_blank" rel="noreferrer noopener nofollow">@lyvia_palay</a></li>
        <li><a href="http://Romanduodechoc.fr" target="_blank" rel="noreferrer noopener">Romanduodechoc.fr</a></li>
        <li></li>
    </ul>

</footer>