{% extends 'base.html.twig' %}

{% block title %}Edit Citation{% endblock %}

{% block body %}
    <h1>Edit Citation</h1>

    {{ include('admin/citation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_citation_index') }}">back to list</a>

    {{ include('admin/citation/_delete_form.html.twig') }}
{% endblock %}
