{% extends 'base.html.twig' %}

{% block title %}Biographie{% endblock %}

{% block body %}
    <article id="post-51" class="lp-comment container p-5 my-5">
    <div class="lyviaEcrivaine">

<div class="lyviaPhoto">
    <img src="{{ asset('assets/uploads/lyvia-palay-romanciere.jpg') }}" alt="Lyvia Palay">
</div>
        <div>
        <p class="lyviaPrenom">Lyvia<br></p>
        <p class="lyviaNom">Palay<br></p>
        <p class="lyviaEcri">Romancière</p>
            <p class="lyviaEcri"> <a href="https://www.instagram.com/lyvia_palay/?hl=fr" target="_blank" rel="noreferrer noopener nofollow">@lyvia_palay</a><p class="lyviaEcri">
        </div>
    </div>

        <p>Champenoise expatriée dans le Sud-Ouest, est née en 1980 et vit désormais près de Bordeaux.</p>
        <p>Attirée par les mots depuis toujours, elle obtient des diplômes dans le domaine littéraire et crée ensuite sa société. On lui confie, entre autres, la rédaction de deux guides touristiques pour l’Office de Tourisme de Saint-Emilion, site classé à l’UNESCO.<p>
        <p>Amoureuse des livres et amoureuse des mots, pour elle, il n’y a pas meilleur endroit qu’un bon livre pour s’évader tout en restant où l’on est ! Lire et écrire sont deux passions fortes dont elle ne saurait se passer.</p>
        <p>Lectrice passionnée, elle se laisse naturellement guider vers des romans feel-good, des polars et des thrillers.</p>
        <p> Auteure de romans contemporains et de livres pour enfants, ses livres partagent comme points communs le voyage, l’humour, la résilience, l'espoir, l’amour et l’amitié.</p>

    </article>
{% endblock %}