{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div class="lyviaEcrivaine">


        <p class="lyviaPrenom">Lyvia<br></p>


        <p class="lyviaNom">Palay<br></p>


        <p class="lyviaEcri">Ecrivaine</p>


        <p>Amoureuse des livres et amoureuse des mots, pour moi, il n’y a pas meilleur endroit qu’un
            bon
            livre pour s’évader tout en restant où l’on est !</p>
        <p>Lire et écrire sont deux passions fortes dont je ne saurais me passer.</p>


        <p>Au fil des années, j’ai écrit des poèmes, des petits scénarios, une quarantaine de pages
            d’un polar, des débuts de romans… Pour moi, pour le plaisir.</p>


        <p>Cette passion, qui n’était pas destinée à être diffusée, a pris de l’ampleur, puis est
            venu le moment de partager cela avec vous.</p>


        <p>J’ai plusieurs histoires en réserve, j’espère que vous prendrez autant de plaisir à les
            lire que j’en ai eu à les inventer et les écrire.</p>
    </div>
{% endblock %}