/*navigation admin*/
.lp-color-hr{border: 1px solid var(--lp-color-primary)}
.lp-img-admin{width: 50px}
.lp-sideBarLeft{border-right:1px solid var(--lp-color-primary);height: 100vh}
.lp-sm-img{width: 40px}


label{font-weight: bold;display: block;padding: 20px 0 10px}
#blog{width: 70%;margin: 0 auto}
.tox-tinymce,input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select,textarea{width: 100%;padding: 10px;border-radius: 10px;border: 2px solid var(--lp-color-primary);-webkit-box-shadow: 2px 6px 10px -4px #92278f;
    box-shadow: 2px 6px 10px -4px #92278f; }
.tox-tinymce{width: 100%;padding: 10px;border-radius: 10px;border: 2px solid var(--lp-color-primary) !important;-webkit-box-shadow: 2px 6px 10px -4px #92278f !important;
    box-shadow: 2px 6px 10px -4px #92278f; }
.lp-admin-container{margin:20px auto; width: 100%;padding: 60px;border-radius: 10px;border: 2px solid var(--lp-color-primary);-webkit-box-shadow: 2px 6px 10px -4px #92278f;
    box-shadow: 2px 6px 10px -4px #92278f; }
#editor,textarea, .ck-editor__main p{height: 200px}
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}textarea::-webkit-scrollbar {
     width: 1em;border-radius: 10px; cursor: pointer ;
 }

textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);border-radius: 10px; cursor: pointer ;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--lp-color-primary);
    border-radius: 10px;
    cursor: pointer ;
    outline: 1px solid slategrey;
}
/*cart*/
table{text-align: center}
table .lp-td{text-align: left}
table .lp-td-right{text-align: right; font-weight: bold; padding-right: 30px}
.lp-quant{padding:5px 10px;border: 3px solid var(--lp-color-primary);
    background-color: white;
    color: var(--lp-color-primary);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;}

.lp-quant:hover{
    border: 3px solid white;
    background-color: var(--lp-color-primary);
    color:  white;
}
.lp-quant-number{padding:5px 10px;}
/*product*/
.lp-img-product-admin{width: 100px}

/*order*/
.lp-border{padding: 10px;border-radius: 10px;border: 2px solid var(--lp-color-primary);-webkit-box-shadow: 2px 6px 10px -4px #92278f;
    box-shadow: 2px 6px 10px -4px #92278f; }
#order_adresses, #order_carriers{width: 80%;display: flex}
#order_adresses input, #order_carriers input{margin: 2px 30px}
#order_dedication{    width: 207%;}
.lp-recap-order{list-style: none;margin:0;font-weight: bold}
.lp-recap-order span{color: var(--lp-color-primary)}

/*rgpd*/
#rgpdModal{width:100%;display:flex;justify-content: center;align-items: center;position: fixed;top: 45%;z-index: 9999;}
#rgpdModal .modal-content{width:500px;padding:40px;margin:0 ;border: 1px solid var(--lp-color-primary);background-color: white;position: fixed;top: 45%;z-index: 9999;display: flex;justify-content: center;align-items: center}
#acceptButton{padding: 5px 20px;width:150px; margin:10px auto;cursor: pointer}
#rejectButton{padding: 3px 10px;width:150px; margin:5px auto;cursor: pointer}

@media screen and (max-width: 768px){
    #order_dedication{    width: 100%;}
}