@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans&family=Great+Vibes&family=Josefin+Sans&display=swap');
@import "style/register.css";
@import "style/product.css";
@import "style/navigation.css";
@import "style/admin.css";
@import "style/home.css";
@import "style/googleIcon.css";
@import "style/blog.css";
@import "style/pages.css";
@import "style/footer.css";
@import "style/carrousel.css";

:root{
    --lp-color-primary: #92278f;
    --lp-color-secondary: #278f92;
    --lp-color-tertiary: #999999;
    --lp-dark: #343434;
    --lp-light: rgba(240, 236, 233,0.7);

    --lp-font-title: 'Acme', sans-serif;
    --lp-font-secondary: 'Alegreya Sans', sans-serif;
    --lp-font-tertiary: 'Josefin Sans', sans-serif;
    --lp-font-signature: 'Great Vibes', cursive;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--lp-font-secondary);
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--lp-dark);
    align-items: stretch;
    justify-content: space-around;

}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--lp-font-tertiary);
    font-weight: bold;

}
h4 {
    font-size: 1em;

}
.nav-link, .nav-link:active, .nav-link:visited{
    text-decoration: none;
    color: var(--lp-color-primary);
    font-size: 0.8em;
}
a{
    text-decoration: none;
    color: var(--lp-color-primary);
}
a:hover, .nav-link:hover{
    color: var(--lp-color-secondary);
}
 p,p a{
    font-size: 1em;
    font-family: var(--lp-font-secondary);
}
 ul{list-style: none;
 margin: 0;padding: 0;}

.lp-w-45{width: 45%}
/* button */
.lp-btn{
    border: 3px solid var(--lp-color-primary);
    background-color: white;
    color: var(--lp-color-primary);
    padding: 0.3rem 1.5rem;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
.lp-btn:hover{
    border: 3px solid white;
    background-color: var(--lp-color-primary);
    color:  white;
}
/*flash message*/
