<form method="post" action="{{ path('admin_decication_delete', {'id': decication.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ decication.id) }}">
    <button class="btn">Delete</button>
</form>
